{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  
  "settings": {
    "react": {
      "version": "detect"
    }
  },

  "extends": [
    "plugin:react/recommended",
    "standard"
  ],

  "rules": {
    "no-debugger": "off"
  }
}