body {
  position: relative;
  background-color: #ede0c8;
}

header {
  margin: 0 auto;
  width: 100%;
  text-align: center;

  h1 {
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
  }

  p {
    margin: 20px auto;
    font-family: Arial;
    font-size: 25px;
  }

  #newGamebtn {
    display: inline-block;
    margin: 0 20px;
    padding: 10px;
    width: 80px;
    font-family: Arial;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    background-color: #9f8b77;
  }

  #rank{
    display: inline-block;
    margin: 0 20px;
    width: 80px;
    padding: 10px;
    background-color: #6f5498;
    font-family: Arial;
    color: white;
    border-radius: 10px;
    text-decoration: none;
  }

  #newGamebtn:hover{
    background-color: #8f76aa;
  }
}

#grid-container {
  width: 460px;
  height: 460px;
  padding: 20px;
  margin: 20px auto;
  background-color: #bbada0;
  -moz-border-radius: 10px;
       border-radius: 10px;
  position: relative;
}

.grid-cell {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 6px;
  background-color: #ccc0b3;
}

.number-cell {
  position: absolute;
  line-height: 100px;
  font-family: Arial;
  font-weight: bold;
  font-size: 60%;
  text-align: center;
  border-radius: 6px;
}

#cover{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0,0,0,.85);
}

.cover-content{
  display: none;
  position: fixed;
  width: 85%;
  max-width: 400px;
  max-height: 600px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial;
  text-align: center;
  background: rgba(187,173,160,1.0);
  border-radius: 10px;
  overflow: auto;
  color: #eee4da;
  z-index: 200;
}

#coverList {
  h1 {
    font-weight: 500;
  }

  ul {
    font-size: 18px;
    color: #776e65;
    text-align: left;

    li {
      margin: 10px;
    }
  }
}

#gameOver{
  height: 100px;
  line-height: 100px;
  font-size: 2em;
}